// @import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

* {
  user-select: auto !important;
}
#app-wrapper {
  display: flex;
  flex-flow: row wrap;
  // align-content: space-between;
  height: 100vh;
  align-content: flex-start;
}

#view {
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  min-height: 70vh;
}

// LAYOUT

.links {
  padding-top: 15px;
}

.render-result {
  font-weight: 500;

  .subtitle {
    font-size: 26px;
    font-weight: 600;
    color: #007bff;
  }
}

#toggle-login {
  margin-left: 1em;
}

#view,
footer,
header {
  flex-basis: 100%;
}

.hero-image {
  max-width: 100%;
  max-height: 450px;
  display: block;
  margin: 1em auto;
}


body {
  font-size: 16px;
}
h1, .h1 { @include font-size($h1-font-size);}
h2, .h2 { @include font-size($h2-font-size); }
h3, .h3 { @include font-size($h3-font-size); }
// h4, .h4 { @include font-size($h4-font-size); }
// h5, .h5 { @include font-size($h5-font-size); }
// h6, .h6 { @include font-size($h6-font-size); }